<div class="container">
	<div class="row text-center align-items-center">
		<div class="col-12 col-sm-4">
			<a href="https://laurisstirna.eu.pythonanywhere.com/" rel="noreferrer" target="_blank" class="link-info">
				{{ _('Izstrādātājs') }}</a>
		</div>
		<div class="col-12 col-sm-4">
			<button class="btn text-muted" type="button" disabled>{{ _('Privātuma politika') }}</button>
		</div>
		<div class="col-12 col-sm-4">
			<p class="text-white mb-0">Retrix © 2018-{{ current_year }}</p>
		</div>
	</div>
</div>